@model IEnumerable<MarioPizzeria.Models.Ingredient>

@{
    ViewData["Title"] = "Ingredients";
}
@foreach (var item in ViewContext.ViewData.ModelState)
{
    if (item.Value.Errors.Any())
    {
        <tr>
            <td><b style="color:red">@item.Key</b></td>
            <td>@((item.Value != null || item.Value.RawValue != null) ? "" : item.Value.RawValue)</td>
            <td>@(string.Join("; ", item.Value.Errors.Select(x => x.ErrorMessage)))</td>
        </tr>
    }
}
<h1>Ingredients</h1>

<p>
    <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Create")'">Add new</button>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <button type="button" style="margin-left:20px; width:75px" class="btn btn-info" onclick="location.href='@Url.Action("Edit", new {id=@item.Id })'">Edit</button>
                    <button type="button" style="margin-left:20px; width:75px" class="btn btn-info" onclick="location.href='@Url.Action("Details", new {id=@item.Id })'">Details</button>
                    <button type="button" style="margin-left:20px; width:75px" class="btn btn-danger" onclick="location.href='@Url.Action("Delete", new {id=@item.Id })'">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>
